<%- include("../header"); %>
<div class="col-12">
    <h1>Dashboard</h1>

    <a href="/encargado">Logout</a>

    <a href="/encargado/fAula" class="btn btn-primary mb-2">Aula</a>
    <a href="/encargado/fCargaH" class="btn btn-primary mb-2">Carga Horaria</a>
    <a href="/encargado/fCarrera" class="btn btn-primary mb-2">Carrera</a>
    <a href="/encargado/fDocente" class="btn btn-primary mb-2">Docente</a>
    <a href="/encargado/fMateria" class="btn btn-primary mb-2">Materia</a>
    <h4>Hello <%= user %></h4>
    
</div>
    <%- include("../footer"); %>
