<%- include("../header"); %>
<div class="col-12">
    <h1>Agregar Aulas</h1>
    <form method="post" action="/encargado/fCarreraInsertar">
        <input value="<%= user%>" name="user" type="hidden">
        <div class="form-group">
            <label for="codigo">Codigo</label>
            <input required id="codigoc" placeholder="Codigo Carrera" class="form-control" type="number"
                name="codigoc">
        </div>
        <div class="form-group">
            <label for="plan">Plan</label>
            <input required id="planc" placeholder="Plan de la Carrera" class="form-control" type="number"
                name="planc">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input required id="nombrec" placeholder="Nombre de la Carrera" class="form-control" type="text"
                name="nombrec">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Guardar</button>
            &nbsp;<a href="/encargado/fCarrera" class="btn btn-primary">Volver</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>