<%- include("../header"); %>
<h1>Registro⠀⠀⠀</h1>
<form action="/encargado/encRegistro" method="POST">
  
      <div>
        <input 
        type="text" 
        id="nombreEncargado" 
        name="nombreEncargado" 
        placeholder="Nombres" 
        class = "form-control"
        required />
      </div>
      <div>
        <input
          type="text"
          id="apellidoPEncargado"
          name="apellidoPEncargado"
          placeholder="Apellido Paterno"
          class = "form-control"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="apellidoMEncargado"
          name="apellidoMEncargado"
          placeholder="Apellido Materno"
          class = "form-control"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="carnetEncargado"
          name="carnetEncargado"
          placeholder="Carnet de Identidad"
          class = "form-control"
          required
        />
      </div>
      <div>
        <input
          type="date"
          id="fechaNacEncargado"
          name="fechaNacEncargado"
          placeholder="Fecha de Nacimiento"
          class = "form-control"
          required
        />
      </div>
      <div>
        <input
          type="text"
          id="codEncargado"
          name="codEncargado"
          placeholder="Codigo"
          class = "form-control"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Contraseña"
          class = "form-control"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password2"
          name="password2"
          placeholder="Confirmar Contraseña"
          class = "form-control"
          required
        />
      </div>
      <div class="input-group-prepend">
         <div>
           <input type="submit" class ="btn btn-primary btn-sm" value="Registrar" />
         </div>
         <div>
           <a href="/encargado" class = "btn btn-outline-primary btn-sm">Ya registrado? Ingrese aquí</a>
         </div>
       </div>
    </form>
    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

<%- include("../footer"); %>
